[submodule "native/godot-cpp"]
	path = native/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "native/eigen"]
	path = native/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 5.0
[submodule "native/glm"]
	path = native/glm
	url = https://github.com/g-truc/glm.git
